<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <Gelf name="gelf" host="10.0.0.2" port="12201" version="1.1" extractStackTrace="true" filterStackTrace="true"
               mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192" originHost="swarm"
               additionalFieldTypes="environment=String,application=String,threadName=String,fbHost=String">
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
            <Field name="level" pattern="%level" />
            <Field name="simpleClassName" pattern="%C{1}" />
            <Field name="className" pattern="%C" />
            <Field name="server.fqdn" pattern="%host{fqdn}" />
            <Field name="threadName" pattern="%t" />
        </Gelf>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="gelf"/>
        </Root>
    </Loggers>
</Configuration>
